@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body {
    width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    width: 51%;
    height: 512px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    box-shadow: 15px 15px 15px hsl(221, 100%, 96%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 33px;
    gap: 5%;
    margin-left: 35px;
}

.result {
    width: 48%;
    height: 460px;
    border-radius: 30px;
    background-image: linear-gradient(hsla(241, 81%, 54%, 0.7), hsl(241, 81%, 54%));
    padding: 25px;
    text-align: center;

}

.result h3 {
    color: hsl(241, 100%, 89%);
    font-size: 24px;
    font-weight: 600;
    margin-top: 12px;
    margin-left: -5px;
}

.result .circle {
    height: 200px;
    width: 62%;
    border-radius: 50%;
    display: grid;
    place-items: center;
    place-content: center;
    margin: 35px auto;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.result .circle h1 {
    font-size: 71px;
    font-weight: 800;
    padding-top: 4px;
    margin: 0;
    margin-top: 5px;
    color: hsl(0, 0%, 100%);
}

.result .circle span {
    color: hsl(241, 100%, 89%);
    margin: 0;
    padding-bottom: 11px;
    padding-right: 1px;
    font-size: 18px;
    margin-top: -8px;
}

.result h2 {
    font-size: 32px;
    color: hsl(0, 0%, 100%);
    margin: 0;
    margin-top: -7px;
    margin-left: -4px;
}

.result p {
    width: 80%;
    color: hsl(241, 100%, 89%);
    margin: 14px auto;
    font-size: 18px;
}

/* ===================== */
.summary {
    width: 50%;
}

.summary h3 {
    font-size: 24px;
    font-weight: 600;
    margin-top: -62px;
    margin-left: 5px;
}

.summary .container {
    width: 87%;
    margin-top: 30px;
    margin-left: 5px;
}

.summary .container .result-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
    height: 55px;
    border-radius: 10px;
    padding: 0 22px;
    overflow: hidden;
}

.summary .container .result-box .box {
    display: flex;
    margin-left: -7px;
    margin-right: 40px;
}

.summary .container .result-box .box img {
    margin-right: 12px;
}

.summary .container .result-box .box h4 {
    font-size: 18px;
    color: var(--color);
}

.summary .container .result-box .res {
    margin-right: -6px;
}

.summary .container .result-box .res span:first-child {
    font-size: 18px;
    padding: 0 3px;
    font-weight: 600;
}

.summary .container .result-box .res span:last-child {
    font-size: 18px;
    font-weight: 600;
    color: hsla(224, 30%, 27%, 0.5);
}

.summary .container .result-box .res p {
    font-size: 18px;
    font-weight: 600;
}

button {
    width: 88%;
    border-radius: 30px;
    padding: 16px 0px;
    margin-top: 25px;
    margin-left: 4px;
    font-size: 18px;
    cursor: pointer;
    background-color: hsl(241, 81%, 54%);
    outline: none;
    border: none;
    color: hsl(0, 0%, 100%);
}

.summary .container .result-box:nth-child(1) {
    background-color: hsla(0, 100%, 67%, 0.1);
}

.summary .container .result-box:nth-child(2) {
    background-color: hsla(39, 100%, 56%, 0.1);
}

.summary .container .result-box:nth-child(3) {
    background-color: hsla(166, 100%, 37%, 0.1);
}

.summary .container .result-box:nth-child(4) {
    background-color: hsla(234, 85%, 45%, 0.1);
}